extends message_list

block form
	if !user
		p You are not signed in.
	else 
		form(
			action='/messages/message'
			method='post'
			id='message-form'
		)
			div(class='form-group')
				label(for='text')
				textarea(
					class='form-control'
					placeholder='Message'
					name='text'
					style='width: 100%; padding: 4px; resize: none;'
					rows='8'
					value=(undefined === text ? '' : text)
					required
				)
				if errors
					ul(class='error-list')
						each error in errors 
							if error.path === 'text'
								li(class='error')= error.msg

			button(type='submit') SEND

		if !user.membership_status
			form(
				action='/messages/password'
				method='post'
				id='secret-password-form'
			)
				div(class=`${errors ? 'invalid-input' : ''} form-group` style='padding: 4px;')
					label(for='secret-password') Become a club member!
					div(style='display: flex; gap: 2px;')
						input(
							type='text'
							class='form-control'
							name='secret-password'
							placeholder='Secret Password'
							required
						)
						button(type='submit' style='margin: 0px;') Submit
					if errors 
						ul(class='error-list')
							each error in errors
								if error.path === 'secret-password'
									li(class='error')= error.msg 
