extends layout

block content

	h2(class='page-title')= title
	form(action='' method='post' id='signup-form')
		div(class=`${errors && errors.find(error => error.path == 'firstname') ? 'invalid-input' : ''} form-group`)
			label(for='firstname') FIRST NAME
			input(
				type='text'
				class='form-control'
				id='text-element'
				placeholder='First Name'
				name='firstname'
				value=(undefined === user ? '' : user.firstname)
				required
				title='First Name'
			)
			if errors && errors.find(error => error.path == 'firstname')
				ul(class='error-list')
					each error in errors 
						if error.path == 'firstname'
							li(class='error')= error.msg
		div(class=`${errors && errors.find(error => error.path == 'lastname') ? 'invalid-input' : ''} form-group`)
			label(for='lastname') LAST NAME
			input(
				type='text'
				class='form-control'
				placeholder='Last Name'
				name='lastname'
				value=(undefined === user ? '' : user.lastname)
				required
				title='Last Name'
			)
			if errors && errors.find(error => error.path == 'lastname')
				ul(class='error-list') 
					each error in errors 
						if error.path == 'lastname'
							li(class='error')= error.msg
		div(class=`${errors && errors.find(error => error.path == 'username') ? 'invalid-input' : ''} form-group`)
			label(for='username') USERNAME
			input(
				type='text'
				class='form-control'
				placeholder='Username'
				name='username'
				value=(undefined === user ? '' : user.username)
				required
				title='Username'
			)
			if errors && errors.find(error => error.path == 'username')
				ul(class='error-list')
					each error in errors 
						if error.path == 'username'
							li(class='error')= error.msg
		div(class=`${errors && errors.find(error => error.path == 'password') ? 'invalid-input' : ''} form-group`)
			label(for='password') PASSWORD
			input(
				type='text'
				class='form-control'
				placeholder='Password'
				name='password'
				value=(undefined === user ? '' : user.password)
				required
				title='Password'
			)
			if errors && errors.find(error => error.path == 'password')
				ul(class='error-list')
					each error in errors 
						if error.path == 'password'
							li(class='error')= error.msg
		div(class=`${errors && errors.find(error => error.path == 'password-confirm') ? 'invalid-input' : ''} form-group`)
			label(for='password-confirm') PASSWORD CONFIRM
			input(
				type='text'
				class='form-control'
				placeholder='Password Confirm'
				name='password-confirm'
				value=''
				required
				title='Password Confirm'
			)
			if errors && errors.find(error => error.path == 'password-confirm')
				ul(class='error-list')
					each error in errors 
						if error.path == 'password-confirm'
							li(class='error')= error.msg
			
		button(type='submit') Sign Up
